
body{
  margin: 10px;
}
.country{
  margin-bottom: 20px;
}
ul {
  /* list-style-type: none; */
  margin: 0;
  padding-left: 0;
}
span{
  font-weight: bold;
  padding-left: 0;
}
li{
  margin-top: 10px;
  margin-left: 20px;
}
.country-name{
  text-align: center;
  font-size: 40px;
}
.info-card{
  display: flex;
  justify-content:space-evenly;
}
.flag{
  width: 300px;
  border: 3px solid #00a8e1;
  
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.ask-form{
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
}
.country{
  text-align: center;
}
input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
